<section class="block container block-domain">
    <header class="block__header">
        <h3>Starting at $9 per month</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum delectus fugiat a molestias qui similique tenetur neque assumenda dicta dolore?</p>
    </header>
    <div class="input-group">
        <input class="input" type="text" placeholder="Enter the story name...">
        <button class="btn btn--accent ">
            <svg class="icon icon--white">
                <use xlink:href="images/sprite.svg#search"></use>
              </svg>
        button</button>
    </div>
    <ul class="list block-domain__prices">
        <li><span class="badge badge--primary">.org 6$</span></li>
        <li>.ital 7$</li>
        <li>.com 8$</li>
        <li>.net 9$</li>
        <li>.sal 10$</li>
        <li>.inc 11$</li>
    </ul>
</section>
